h1{
    font-weight: 700;
    font-size: 45px;
    margin:10px;
    margin-bottom: 20px;
    padding:0%;
}
input{
    width: 40%;
    text-align: left;
    padding-right: 0%;
}
.item-container{
    text-align: left;
    
}
.todo-app{
    
    width: 100%;
    height: 800px;
    background-color: rgb(58, 156, 156);
    border:1px solid black;
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.VjurG-n7LRijLsBsWBl-WAAAAA&pid=Api&P=0&h=180"); */
    background-image: url("https://images.pexels.com/photos/5717411/pexels-photo-5717411.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: 100%;

}
.all-items{
    margin-top: 20px 20px;
    border:2px solid black;
    width:70%;
}
.kg-row{
    margin:10px 20px;
    padding:5px;
    color:#a815c9;
}
.kg-button{
    min-width:80px ;
    /* margin: 10px 5px; */
    /* padding-bottom: 5px; */
}